/* Joel Rohrer September 22 2025 */
body { background-color: 
       light-blue; }
p { color: purple; 
    font-weight: bold; 
    font-family: Times New Roman; }
h1 { color: purple;
     font-weight: italic;
     font-family: Times New Roman; }
h2 { color: purple;
     font-weight: italic;
     font-family: Times New Roman; }
