/* Joel Rohrer September 15 2025 */
html {
      /* Change: new forest-like background image 
      (source url: https://unsplash.com/photos/trees-on-forest-with-sun-rays-sp-p7uuT0tw); 
      font family changed to Times New Roman. */
      background: #018DED url(images/forest.jpg);
      background-size: cover;
      font-family: 'Times New Roman';
      text-align: center;
      font-size: 10px; }

/* Change: added a dark overlay to make the clock stand out 
from the forest background */
html::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.3); /* subtle dark overlay */
  z-index: -1;
}

body {
      margin: 0;
      font-size: 2rem;
      display: flex;
      flex: 1;
      min-height: 100vh;
      align-items: center; }

.clock {
      /* Changes: added a soft white border, a minor glass effect & frost on glass.
      This was done to make the clock appear amidst a looming forest. */
      width: 30rem;
      height: 30rem;
      border: 20px solid rgba(255, 255, 255, 0.8); /* Subtle white border */
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.1); /* Minor glass effect */
      backdrop-filter: blur(5px); /* frosted glass effect */
      box-shadow:
          0 0 10px rgba(0, 0, 0, 0.3),
          inset 0 0 5px rgba(255, 255, 255, 0.3),
          inset 0 0 10px rgba(0, 0, 0, 0.2); }

.clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */ }

/* Change: added 12 tick marks to make the clock appear more realistic. */
.tick {
  position: absolute;
  width: 2px;
  height: 10px;
  background: white;
  top: 50%;
  left: 50%;
  transform-origin: center left;
}

/* Change: Distinguished the second, minute, and hour hands by
making each one of a different color. */
.hand {
  height: 6px;
  background: #3e2f1c; /* earthy brown */
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.hand.hour {
  width: 30%;
  background: #5a3e2b; /* darker brown */
}

.hand.minute {
  width: 45%;
  background: #704214; /* Subtler brown */
}

.hand.second {
  width: 50%;
  height: 2px;
  background: #d72638; /* vivid red */
}
