/* Joel Rohrer October 7 2025 */
html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
/* Change: made each of the five panels load with bright background hues.
This ensures the webpage loads more smoothly using these Fallback colors. 
.panel {
  background-color: #6B0F9C; /* fallback */
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.panel1 {
  background-color: #f44336;
  /* All images for each panel came from the Unsplash website. */
  background-image: url('https://unsplash.com/photos/group-of-people-dancing-6Woj_wozqmA');
}

.panel2 {
  background-color: #3f51b5;
  background-image: url('https://unsplash.com/photos/copper-colored-coins-on-in-persons-hands-TBHOuN6URGU');
}

.panel3 {
  background-color: #4caf50;
  background-image: url('https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?w=1500');
}

.panel4 {
  background-color: #ff9800;
  background-image: url('https://images.unsplash.com/photo-1499084732479-de2c02d45fc4?w=1500');
}

.panel5 {
  background-color: #009688;
  background-image: url('https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?w=1500');
}

/* Flex Item Animation */
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child {
  transform: translateY(-100%);
}

.panel.open-active > *:first-child {
  transform: translateY(0);
}

.panel > *:last-child {
  transform: translateY(100%);
}

.panel.open-active > *:last-child {
  transform: translateY(0);
}

.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}

.panel.open {
  flex: 5;
  font-size: 40px;
}

/* Responsive Layout: the panels will be stacked 
vertically for Mobile Devices. */
@media only screen and (max-width: 600px) {
  .panels {
    flex-direction: column;
  }

  .panel {
    min-height: 20vh;
  }

  .panel p {
    font-size: 1em;
  }

  .panel p:nth-child(2) {
    font-size: 2em;
  }
}

